@{ 
    int count = 1;
}

<script type="text/javascript">
      let count = @count;
</script>

<h2 id="H2">addLineResource</h2>

@{
    <form id="resourceTable" method="get" action="@Url.Action("addLineResource", "Home")">
        @Html.Partial("Language")
        <table id="mainTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < count; i++)
                {
                    var item = new ResourceEditor.Models.LangName();
                    <tr>
                        <th scope="row"><input name="list[@i].Id"></th>
                        <td><input type="text" name="list[@i].Value" /></td>
                        <td><input type="text" name="list[@i].Comment" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" name="addButton" value="addNode">Add</button>
    </form>
    <button type="button" id="addTableRow">+</button>
}

<script type="text/javascript">


    //После загрузки
    window.onload = () => {
        document.getElementById('H2').addEventListener(
            'click',
            () => {

            },
            false
        );
    };
</script>

