
<h2 id="H2">AddLineResource</h2>

@{
    <form id="resourceTable" method="post" action="@Url.Action("AddLineResource", "Home")">
        @Html.Partial("SelectLanguage")
        <table id="mainTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Key</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><input name="list[0].Id"></th>
                    <td><input type="text" name="list[0].Value" /></td>
                    <td><input type="text" name="list[0].Comment" /></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" name="addButton" value="addNode">Add</button>
    </form>
    <button type="button" id="addTableRow">+</button>
}
