@section scriptsHead {
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
}

@{
    ViewBag.Title = "React";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["BrowserType"]</h1>

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ResourceUploads">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="FileResource" multiple required accept=".resx" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="FileResource">Choose file</label>
            </div>
        </div>
        <div class="fileUpload"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col" id="CountrySelect">

    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div id="rootMainTable">

        </div>
        <div>
            <button type="button" class="btn btn-warning btn-circle btn-xl align-self-center" id="addTableRow">+</button>
        </div>
    </div>
</div>

@section scriptsFooter {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
    <script src="~/public/bundle.js"></script>

}