
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    let UrlControl = "@Url.Action("Land", "Home")";

</script>

<script>
    //После загрузки
    window.onload = () => {
        document.getElementById('SendCountry2').addEventListener(
            'click',
            () => {
                alert("awdasdad");
            },
            false
        );
    };
</script>

<h2>Index</h2>

<div id="root">

</div>


@{
    <form>
        <button type="button" id="SendCountry">Start</button>
        <button type="button" id="SendCountry2">Start</button>
    </form>
}



