@section scriptsHead {
    <!-- <link href="~/Content/Site.css" rel="stylesheet" /> -->
    <link href="~/Content/NavMenu.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["BrowserType"]</h1>

<button id="refreshLog" class="btn-floating" type="button">Refresh</button>
<hr />
<div id="rootLog">

</div>
<hr />


@section scriptsFooter {
    <!-- <script src="~/node_modules/jquery/dist/jquery.js"></script> -->
    <script src="~/dist/src/main.js" type="module"></script>
}   