@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log</h2>

<button id="refreshLog" class="btn-floating" type="button">Refresh</button>
<hr />
<div id="rootLog">

</div>
<hr />
