
@section scripts {

}

@{
    ViewBag.Title = "Main Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="ResourceUploads">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="FileResource" multiple required accept=".resx" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="FileResource">Choose file</label>
            </div>
        </div>
        <div class="fileUpload"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="input-group" id="CountrySelect">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="countrySelectRefresh">Refresh</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="ResourceSave">Download</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div id="rootMainTable">
            <table class="table" id="mainTable">
                <thead class="thead-dark" id="mainDataHeadTable">
                    <tr>
                        <th scope="col"><button class="BtnSort btn btn-outline-info btn-block" value="Id" id="BtnSortId" type="button">Id</button></th>
                        <th scope="col"><button class="BtnSort btn btn-outline-info btn-block" value="Value" id="BtnSortValue" type="button">Value</button></th>
                        <th scope="col"><button class="BtnSort btn btn-outline-info btn-block" value="Comment" id="BtnSortComment" type="button">Comment</button></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <thead class="thead-light" id="mainDataHeadFilterTable">
                    <tr>
                        <th scope="col"><input type="search" class="inputSearch form-control d-flex" name="Id" placeholder="Filter by Id" /></th>
                        <th scope="col"><input type="search" class="inputSearch form-control d-flex" name="Value" placeholder="Filter by Value" /></th>
                        <th scope="col"><input type="search" class="inputSearch form-control d-flex" name="Comment" placeholder="Filter by Comment" /></th>
                        <th scope="col" colspan="2"><button  class="BtnSort btn btn-outline-danger btn-block" id="BtnClear" type="button">Clear</button></th>
                    </tr>
                </thead>
                <tbody id="mainDataBodyTable"></tbody>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-warning btn-circle btn-xl align-self-center" id="addTableRow">+</button>
        </div>
    </div>
</div>
