@section scriptsHead {
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/NavMenu.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "Native";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["BrowserType"]</h1>

<div class="row">
    <div class="col">
        <div>
            <div class="customFileUploads">
                <label class="customFileUploads" for="FileResource">Choose file</label>
                <input class="customFileUploads" id="FileResource" type="file" multiple required accept=".resx" aria-describedby="inputGroupFileAddon01">
                <button class="customFileUploads" type="button" id="ResourceUploads">Upload</button>
            </div>
            <div id="img-container">
                <ul id="img-list"></ul>
            </div>
        </div>
        <div class="fileUpload"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="input-group" id="CountrySelect">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="countrySelectRefresh">Refresh</button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="ResourceSave">Download</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div id="rootMainTable">
            <table id="mainTable">
                <colgroup class=""></colgroup>
                <caption>
                    <p>ResX data</p>
                </caption>
                <thead>
                    <tr id="mainDataHeadTable">
                        <th scope="col"><button class="BtnSort" value="Id" id="BtnSortId" type="button">Id</button></th>
                        <th scope="col"><button class="BtnSort" value="Value" id="BtnSortValue" type="button">Value</button></th>
                        <th scope="col"><button class="BtnSort" value="Comment" id="BtnSortComment" type="button">Comment</button></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr id="mainDataHeadFilterTable">
                        <th scope="col"><input type="search" class="inputSearch" name="Id" placeholder="Filter by Id" /></th>
                        <th scope="col"><input type="search" class="inputSearch" name="Value" placeholder="Filter by Value" /></th>
                        <th scope="col"><input type="search" class="inputSearch" name="Comment" placeholder="Filter by Comment" /></th>
                        <th scope="col" colspan="2"><button class="BtnClear" id="BtnClear" type="button">Clear</button></th>
                    </tr>
                </thead>
                <tfoot></tfoot>
                <tbody id="mainDataBodyTable"></tbody>
            </table>
        </div>
        <div class="buttonAdd">
            <button type="button" class="btn-circle btn-xl" id="addTableRow">+</button>
        </div>
    </div>
</div>


@section scriptsFooter {

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/popper.js/dist/popper.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
    <script src="~/out/main.js"></script>

}