@section scriptsHead {
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/NavMenu.css" rel="stylesheet" />
    <script src="~/out/Link.js"></script>
}

@{
    ViewBag.Title = "Native";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["BrowserType"]</h1>

<div id="colFileContainer">
    <div class="flex-container">
        <input class="flex-container-element element-01" id="FileResource" type="file" multiple accept=".resx" />
        <button class="flex-container-element element-02" type="button" id="ResourceUploads">Upload</button>
    </div>
    <div class="fileUpload"></div>
</div>

<div id="colLanguageChange">
    <div class="flex-container" id="CountrySelect">
        <button class="flex-container-element element-02" type="button" id="countrySelectRefresh">Refresh</button>
        <button class="flex-container-element element-03" type="button" id="ResourceSave">Download</button>
    </div>
</div>

<div id="colSortFilter">
    <div class="flex-container">
        <select class="flex-container-element element-01" name="sort" id="select-sort-table">
            <option value="Id" selected>Sort by Id</option>
            <option value="Value">Sort by Value</option>
            <option value="Comment">Sort by Comment</option>
        </select>
        <input class="flex-container-element element-02" type="number" id="page" name="page" value="1" min="1" />
        <input class="flex-container-element element-03" type="number" id="take" name="take" value="5" min="1" />
    </div>
</div>

<div class="col">
    <div id="rootMainTable">
        <table id="mainTable">
            <colgroup class=""></colgroup>
            <caption>
                <p>ResX data</p>
            </caption>
            <thead>
                <tr id="mainDataHeadTable">
                    <th scope="col">Id</th>
                    <th scope="col">Value</th>
                    <th scope="col">Comment</th>
                    <th scope="col" colspan="2">Action</th>
                </tr>
                <tr id="mainDataHeadFilterTable">
                    <th scope="col" class="search-data el-01"><input type="search" class="inputSearch" name="Id" placeholder="Filter by Id" /></th>
                    <th scope="col" class="search-data el-02"><input type="search" class="inputSearch" name="Value" placeholder="Filter by Value" /></th>
                    <th scope="col" class="search-data el-03"><input type="search" class="inputSearch" name="Comment" placeholder="Filter by Comment" /></th>
                    <th scope="col" class="search-data el-04" colspan="2"><button class="btn BtnClear" id="BtnClear" type="button">Clear</button></th>
                </tr>
            </thead>
            <tfoot></tfoot>
            <tbody id="mainDataBodyTable"></tbody>
        </table>
    </div>
    <div class="buttonAdd">
        <button type="button" class="btn btn-circle" id="addTableRow">+</button>
    </div>
</div>

@section scriptsFooter {
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/out/main.js"></script>
}