@{
    <p>
        <select id="countrySelect" name="Id">
            @foreach (var item in ResourceEditor.Managers.XmlManager.GetLanguages())
            {
                <option value="@item.Id">@item.Value</option>
            }
        </select>
    </p>
}

