::selection {
    /* Цвет текста */
    color: azure;
    /* Цвет фона */
    background-color: red;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    background: white;
}

body {
    background-color: transparent;
}

.container-grid {
    display: grid;
    grid-template-columns: minmax(320px, 900px);
    grid-template-rows: minmax(100px, auto) auto 100px;
    grid-template-areas: "header""main""footer";
    grid-gap: 10px 20px;
    align-items: start;
    justify-content: center;
    /*edge*/
}

.container-grid-item {
    background-color: #fafafa;
}

.grid-item-header {
    grid-area: header;
    align-self: start;
}

.grid-item-main {
    grid-area: main;
}

.grid-item-footer {
    grid-area: footer;
    justify-self: start;
}

.hide {
    display: none;
}

.change {
    background-color: orangered !important;
}

.error {
    color: red;
    background-color: #fce8e8;
}

.success {
    color: green;
    background-color: #e8f1fc;
}

a:not([href]) {
    cursor: pointer;
}

a {
    color: black;
}

a:active {
    color: yellow;
}

a:visited {
    color: white;
}

@media screen and (min-width: 850px) {
    table {
        width: 100%;
        background-color: transparent;
    }

    th {
        vertical-align: middle;
    }

    tr {
        border: 1px solid azure;
    }

    td {
        border: 1px solid azure;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #f0f2f2;
    }
}

@media screen and (max-width: 850px) {
    table {
        width: 100%;
    }

    table thead {
        display: none;
    }

    table tfoot {
        display: none;
    }

    tbody tr:nth-child(even) {
        background-color: #f7ffff;
    }

    table tr {
        color: #fff;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 6px 6px;
    }

    table tr:hover {
        transform: translate3d(0.1rem, 0.1rem, 0.1rem);
        box-shadow: -0.3rem -0.2rem 0.4em olive, 0.3rem 0.2rem red;
    }

    table th[scope] {
        color: rgb(255, 0, 0);
        background-color: #f2f5f7;
    }

    table td[aria-label] {
        color: rgb(107, 4, 4);
        background-color: #ececec;
    }

    table .tabl-row {
        margin: 0.3rem 0 0.1rem 0;
        border-radius: 3px;
    }

    table th:before {
        content: attr(aria-label);
        display: block;
    }

    table td:before {
        content: attr(aria-label);
    }
}

@media screen and (max-width: 560px) {
    table tr {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3px 3px;
    }

    .tabl-row.el-01 {
        grid-column: 1/ -1;
    }

    .tabl-row.el-02 {
        grid-column: 1/-1;
    }

    .tabl-row.el-03 {
        grid-column: 1/ -1;
    }

    .tabl-row.el-04 {
        grid-column: 2/ 3;
    }

    .tabl-row.el-05 {
        grid-column: 4/ 5;
    }
}

.flex-container {
    margin: 15px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}

.flex-container-element {
    flex: 1 0 auto;
}

.element-01 {
    flex: 1 0 auto;
    order: 0;
}

.element-02 {
    flex: 1 0 auto;
    order: 1;
}

.element-03 {
    flex: 1 0 auto;
    order: 2;
}

textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.1rem;
}

input {
    font-size: 1.1rem;
}

input[type=file] {
    cursor: pointer;
}

input.inputSearch {
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    height: 3rem;
}

input.inputDataId {
    border: none;
    background-color: transparent;
}

.btn {
    min-width: 6rem;
    min-height: 3rem;
    margin: 3px 3px;
    padding: 3px 3px;
    text-align: center;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    border-radius: 8px;
}

.btn:hover {
    color: white;
    background-color: black;
    border: 2px solid azure;
    cursor: pointer;
    border-radius: 0px;
}

.btn:disabled {
    display: none;
}

.btn.deleteLineButton {
    border: 2px solid #f3ffdd;
}

.btn.deleteLineButton:hover {
    color: white;
    background-color: #ff0000;
    border: inherit;
}

.btn.saveLineButton {
    width: 100%;
    border: 2px solid rgb(3, 47, 61);
}

.btn.saveLineButton:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    border: inherit;
}

.btn.BtnSort {
    width: 100%;
    border: none;
}

.btn.BtnClear {
    width: 100%;
    border: none;
}

.buttonAdd {
    text-align: center;
}

.btn.btn-circle {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.42857;
}

.btn.btn-circle:hover {
    color: red;
    width: 100%;
    height: 70px;
}